@model IEnumerable<MVC.Models.Movie>

@{
    ViewBag.Title = "Movie Search";
}


<div style="width:500px; background-color:white; height:250px; line-height:250px; align-content:center; margin:auto; ">



    @using (Html.BeginForm())
    {
        <div style="">
            <div style="float:left; margin:5px; ">
                @Html.TextBox("SearchString")
            </div>
            <div style="float:left; margin:5px;">
                <input type="submit" value="Search" style="height:40px;" />
            </div>
        </div>
    }
</div>


<article>
    <div id="features-wrapper">
        <div id="features">
            <div class="container">
                <div class="row">

                    @foreach (var item in Model)
                    {

                        <div class="3u 12u(mobile)">

                            <!-- Feature #4 -->
                            <section>
                                <a href="#" class="bordered-feature-image"><img src="@item.ThumbilImage" alt="" height="150px;" /></a>
                                <h2>@item.MovieName (@item.ReleasedYear)</h2>
                                <h3>Rating : @item.Rating</h3>
                                <h3>Actors</h3>
                                @foreach (var items in item.Actors)
                                {
                                    <h4> @items.Name </h4>
                                }
                                <p>
                                    @item.Description
                                </p>
                            </section>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

</article>



